* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.am-big-background {
    background-color: #009688;
}


/* BIG BACKGROUND */
.am-main-window {
    background-color: aliceblue;
    height: 60rem;
    margin-top: 10rem;
}


/* LEFT PART WITH ACCOUNT AND CHAT LIST */

/* account box */
.am-account-box {
    background-color: #EAEAEA;
    height: 4rem;
}

.am-myavatar-box {
    border-radius: 50px;
    overflow: hidden;
    height: 3rem;
    width: 3rem;
}


.am-left-part {
    background-color: white;
    height: 100%;
}

.am-account-icons {
    font-size: 1.3rem;
    color: #B1B1B1;
    margin-right: 0.6rem;
}


/* notification box */
.am-notifications-box {
    background-color: #8EDAFC;
    height: 4.5rem;

}

.am-notifications-bubble {
    background-color: #F2FBFF;
    border-radius: 50px;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin-left: 1rem;
}

.bi-bell-slash-fill {
    font-size: 1.5rem;
    color: #8EDAFC;

}

/* search box */
.am-search-box {
    background-color: #FAFAFA;
    height: 3rem;

}

.am-search-box input {
    width: 18rem;
    border: solid 1px lightgray;
}

.am-search-icon {
    color: darkgray;

}


/* chat list */
.am-chat-box {
    border-top: solid 1px rgb(239, 237, 237);
    height: 5rem;
}

.am-chat-avatar {
    background-color: #F2FBFF;
    border-radius: 50px;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    text-align: center;
    margin-left: 1rem;
}

.am-chatter-name {
    font-weight: 600;
}

/* RIGHT PART WITH CURRENT CHAT */
.am-current-chat {
    background-image: url(../img/mine.jpg);
    height: 100%;
}

/* current chatter */
.am-chatter-box {
    background-color: #EAEAEA;
    height: 4rem;
    border-left: solid 1px lightgray;
    width: 100%;
}

.am-chatter-icon {
    font-size: 1.5rem;
    margin-right: 0.6rem;
    color: #B1B1B1;
}

/* chat bubbles */
.am-bubble-chat {
    padding: 1rem;
    padding-right: 5rem !important;
    background-color: white;
    width: 20rem !important;
    border-radius: 15px;
}

.am-bubble-sent {
    align-items: end;
}


/* write a message box */
.am-writeamessage-box {
    height: 4rem;
    background-color: #F3EEEA;
}

.am-writeamessage-box input {
    width: 40rem;
    border: solid 1px lightgray;
    height: 2.5rem;
    border-radius: 5px;
}

.am-message-icon {
    color: #6B7376;
    font-size: 1.5rem;
}