<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js" defer></script>
    <title>BoolzApp</title>
</head>

<body class="am-big-background">

    <div id="app">

        <!-- main window -->
        <section class="container am-main-window p-0">

            <!-- big container -->
            <div class="row h-100 w-100 ">

                <!-- left box with account and chats -->
                <div class="col-4 am-left-part p-0">

                    <!-- account box -->
                    <div class="am-account-box d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="am-myavatar-box ms-2">
                                <img class="img-fluid" src="/img/avatar_io.jpg" alt="my avatar">
                            </div>
                            <div class="ms-2 am-chatter-name">Sofia</div>
                        </div>

                        <div>
                            <i class="am-account-icons bi bi-arrow-clockwise "></i>
                            <i class="am-account-icons bi bi-chat-left-fill"></i>
                            <i class="am-account-icons bi bi-three-dots-vertical"></i>
                        </div>
                    </div>

                    <!-- notifications box -->
                    <div class="am-notifications-box d-flex align-items-center">
                        <div class="am-notifications-bubble">
                            <i class="bi bi-bell-slash-fill"></i>
                        </div>
                        <div>
                            <div class="ms-2">Ricevi notifiche di nuovi messaggi</div>
                            <div class="text-secondary ms-2"><u>Attiva notifiche desktop</u></div>
                        </div>
                    </div>

                    <!-- search box -->
                    <div class="am-search-box d-flex align-items-center">
                        <i class="am-search-icon bi bi-search m-4"></i>
                        <input type="text" placeholder=" Cerca o inizia una nuova chat">
                    </div>

                    <!--chat list -->
                    <div @click="openChat(i)" class="am-chat-box d-flex align-items-center"
                        v-for="(element, i) in chatters">
                        <div class="am-chat-avatar">

                            <img class="img-fluid" :src="element.profilePic" alt="my avatar">

                        </div>
                        <div>

                            <div class="ms-2 am-chatter-name">{{element.name}}</div>

                            <div class="text-secondary ms-2"> {{element.lastMessage}}</div>

                        </div>
                    </div>
                </div>


                <!-- right box with current chat -->

                <!-- current chatter -->
                <div class="col-8 am-current-chat d-flex flex-column justify-content-between p-0">

                    <div class="am-chatter-box d-flex justify-content-between align-items-center">

                        <div v-for="(element,i) in chatters" v-if="showCurrentChatter(i)"
                            class="d-flex align-items-center">

                            <div class="am-myavatar-box ms-2">

                                <img class="img-fluid" :src="element.profilePic" alt="my avatar">

                            </div>
                            <div>

                                <div class="ms-2 am-chatter-name">{{element.name}}</div>

                                <div class="ms-2 text-secondary">Ultimo accesso oggi alle 12:00 </div>

                            </div>
                        </div>

                        <div>
                            <i class="am-chatter-icon bi bi-search "></i>
                            <i class="am-chatter-icon bi bi-paperclip"></i>
                            <i class="am-chatter-icon bi bi-three-dots-vertical"></i>
                        </div>
                    </div>

                    <!-- bubble chat -->
                    <div class="am-bubble-chat container" v-for="(element, i) in chatters[activeChatter].messages">
                        {{element.message}}
                    </div>



                    <!-- write a message box -->
                    <div class="am-writeamessage-box d-flex align-items-center justify-content-evenly">
                        <i class="am-message-icon bi bi-emoji-sunglasses"></i>
                        <input type="text" placeholder=" Scrivi un messaggio">
                        <i class="am-message-icon bi bi-mic-fill"></i>
                    </div>




                </div>



            </div>
        </section>
    </div>
</body>

</html>